.ipynb_checkpoints
/matphys/rpages/*
/matphys/rpages.zip
/matphys/FME.pdf
/matphys/*.xml
/fme_results/articles
/fme_results/rdf
/MathEnc.zip
.idea
__pycache__
/results_MFE/*
enc_env
/mathenc/rpages*/*
/me_results/articles
/me_results/rdf
